@model KEK_Emlak.Web.Models.LoginVM 
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}
<div class="card" style="padding-top:30px;background-color:#c4d7ff">
    <div class="card-title">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10" style="background-color:white;padding: 10px; font-size:small">
                <form asp-controller="Account" asp-action="ResetPasswordMail" method="get">
                    <div style="text-align:center;">
                        <h5><b>Şifremi Unuttum</b></h5>
                        <br />
                        <h6>Lütfen E-mailinizi giriniz!</h6>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="user" class="text-capitalize">Email Adresi</label>
                                <input id="user" asp-for="Email" required type="text" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group" style="padding-top:30px">
                                <input type="submit" class="btn btn-lg btn-block" value="E-mail Gönder" style="color:white;height:35px;background-color:#1b8a1d">
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>