@model KEK_Emlak.Web.Models.PasswordVM

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}


<div class="card" style="padding-top:30px;background-color:#e4f4fb">
    <div class="card-title">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="card-body">
        <div class="row" style="align-content: center;">
            <div class="col-2"></div>
            <div class="col-8" style="background-color:white;padding: 10px;">
                <form asp-controller="Account" asp-action="ResetPasswordConfirm" method="post">
                    <h5><b>Yeni Şifre Oluşturma</b></h5>
                    <br />
                    <div class="form-group">
                        <label for="user" class="text-capitalize">Yeni Şifre</label>
                        <input id="user" asp-for="Password" required type="text" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    @Html.HiddenFor(model => Model.UserID)
                    @Html.HiddenFor(model => Model.BaseCode)
                    <div class="form-group" style="padding-top:30px">
                        <input type="submit" class="btn btn-block btn-success" value="Kaydet" style="color:white">
                    </div>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>