
@{
    ViewData["Title"] = "ResetPasswordMail";
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}

<div class="card" style="padding-top:30px;background-color:#c4d7ff">
    <div class="card-title">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10" style="background-color:white;padding: 10px; font-size:small">
                <p>Please click on the link to reset password.</p>
                <br />
                <a href="@ViewBag.Link">@ViewBag.Link </a>
                <br />
                or <a  href="@ViewBag.Link" class="btn btn-primary">Click here</a>

                <br />  <br />
                <p>This link is for sending with password recovery  email.</p>
                <br />
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>